{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRM Canteen</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>SRM Canteen</h1>
        <nav>
            <button onclick="viewProfile()">Profile</button>
            <button onclick="viewOrders()">Orders</button>
        </nav>
    </header>
    <main>
        <section>
            <h2>Veg Menu</h2>
            <div id="veg-menu">
                {% for item in veg_items %}
                    <div class="menu-item">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                        {% else %}
                        <img src="{% static 'img/veg-logo.png' %}" alt="Veg">
                        {% endif %}
                        <p>{{ item.name }} - ₹{{ item.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- non veg section -->
        <section>
            <h2>Non-Veg Menu</h2>
            <div id="non-veg-menu">
                {% for item in non_veg_items %}
                    <div class="menu-item">
                        {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                {% else %}
                    <img src="{% static 'img/non-veg-logo.png' %}" alt="Non-Veg">
                {% endif %}
                <p>{{ item.name }} - ₹{{ item.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
